html {
    padding: 0 1em;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: sans-serif;
}

article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

footer {
    font-size: 9pt;
}